<div class="kanban-column col">
  <div class="kanban-column-header" [ngClass]="getTitleClass(title)">
    {{ title }} <span>({{ item.length }})</span>
  </div>

  <!-- Có Drag & Drop -->
  <div *ngIf="enableDragDrop" cdkDropList [cdkDropListData]="item" [cdkDropListConnectedTo]="connectedDropLists"
    [id]="sanitizeId(title)" (cdkDropListDropped)="onDrop($event)" class="target-drop-list">

    <div *ngFor="let target of item" cdkDrag>
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: target, draggable: true }">
      </ng-container>
    </div>
  </div>

  <!-- Không có Drag & Drop -->
  <div *ngIf="!enableDragDrop">
    <div *ngFor="let target of item">
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: target, draggable: false }">
      </ng-container>
    </div>
  </div>
</div>
