.task-card {
  flex-direction: column;
  padding: 20px 15px;
  background: #fff;
  border-radius: 6px;
  font-size: 14px;
  min-width: 400px;
  min-height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;

  .task-title {
    font-weight: bold;
    font-size: 18px;
  }

  .task-position {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      line-height: 1;
      margin: 0;
      padding: 5px;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    button {
      padding: 5px;
      border: none;
      background-color: transparent;
      border-radius: 8px;

      &:hover {
        background-color: #bddcff;

        mat-icon {
          color: #1B84FF;
          transition: all .2s ease-in-out;
        }
      }

      mat-icon {
        color: #99A1B7;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        transition: all .1s linear;
      }
    }
  }

  .task-description {
    margin: 8px 0;
    color: #99A1B7;
    font-weight: 600;
  }

  .group-bottom-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .task-avatars {
      display: flex;

      app-avatar {
        margin-left: -15px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
    .group-icon{
      display: flex;
      gap: 10px;

      .icon-data{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #99A1B7;
        border-radius: 5px;
        padding: 4px 6px;
        color: #99A1B7;

        mat-icon{
          font-size: 18px;
        }
      }
    }
  }

}
