.status-used {
  display: flex;
  justify-content: space-between;

  p {
    line-height: 1;
    font-weight: 600;
  }
}

.status-remain {
  font-weight: 500;
  color: #8b8b8b;
  font-size: 14px;
}
